body 
{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: 'Merriweather', serif;
    color: #333333;
    line-height: 1.6;
}

.quote
 {
    display: flex;
    background-color: #F8EDE3;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #6B4F4F;
}

.sanskrit {
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.english {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
